
/* Bigger/Longer Card Styles  */
.listTitle{
    color: white;
    font-family: var(--title-font);
    text-align: center;
}

.currentClassesList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: min-content;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-inline: 15px;
}

.currentClassesList:has(.noClassesText) {
    grid-template-columns: 1fr;
}

.noClassesText{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    margin: 0;
    font-family: var(--text-font);
}

@media (max-width: 1030px) {
    .currentClassesList{
        grid-template-columns: 1fr;
    }
}

/* Tiny Cards Styles  */
/*
.background{
    padding: 20px;
    padding-top: 10px;
    border-radius: 15px;
    background-color: var(--dark-1);
}

.listTitle{
    color: white;
    font-family: var(--title-font);
}

.currentClassesList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    justify-content: center;
}
    */