.navbar{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color: var(--dark-1);
    gap: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 5px solid var(--dark-4);
}

.navButton{
    font-family: var(--text-font);
    color: white;
    border: none;
    background-color: transparent;
    height: 40px;
    border-radius: 10px;
    font-size: 1.35rem;
    padding-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 150ms ease-out;
}

.navButton:hover{
    background-color: var(--dark-2);
}