.pagePictureWrapper{
    width: 80%;
    position: relative;
    height: 250px;
    left: 10%;
    margin-bottom: 20px;
    border: 5px solid var(--dark-4);
    border-top: none;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.pageImage{
    position: relative;
    width: 100%;
    height: 100%;
}

.classTitle{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: var(--title-font);
    color: white;
    margin: 0;
}

.announcementsAndAssignments{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    gap: 50px;
    left: 10%;
    padding-bottom: 30px;
}

.announcementBackground{
    background-color: var(--dark-1);
    padding: 20px;
    box-shadow: 0px 0px 5px 2px black;
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 16px;
    flex-grow: 1;
}

.announcementsWrapper{
    color: white;
    font-family: var(--text-font);
    background-color: var(--dark-1);
    border-radius: 10px;
    border: 4px solid var(--dark-2);
    padding-inline: 20px;
    height: 100%;
}

.announcementsSectionTitle{
    font-family: var(--title-font);
    border-bottom: 2px solid var(--dark-2);
    width: 80%;
}

.announcementsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}