.allComments{
    padding-left: 25px;
    border-top: 4px solid var(--dark-5);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

.addComment, .notPrimaryButton{
    background-color: var(--green-2);
    color: white;
    font-family: var(--text-font);
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 5px; 
    padding-inline: 10px;
    border: none;
    cursor: pointer;
    transition: filter 100ms linear, scale 100ms linear;
}

.addComment:hover{
    filter: brightness(1.15);
    scale: 1.1;
}

.notPrimaryButton{
    color: var(--green-1) !important;
    opacity: 0.8;
    background-color: transparent !important;
    border: 0px solid var(--green-2);
    transition: border 250ms linear;
    position: relative;
    font-size: 1rem !important;
}

.addCommentTitle{
    color: white;
    font-family: var(--title-font);
}

.errorText{
    color: red;
    font-family: var(--text-font);
    text-align: center;
}