.pageContent{
    position: relative;
    width: 80%;
    left: 10%;
    color: white;
    padding-bottom: 30px;
}

.pageTitle{
    font-family: var(--title-font);
    background-image: linear-gradient(45deg, var(--green-1), var(--light-green-1));
    background-repeat: no-repeat;
    background-position-y: 100%;
    padding-bottom: 3px;
    width: fit-content;
    background-size: 100% 5px;
}

.discussionBody{
    padding-bottom: 20px;
}

.newPostButton, .addPostButton{
    color: white;
    font-family: var(--text-font);
    background-color: var(--green-1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: scale 150ms ease;
    width: 150px;
    height: 40px;
    font-size: 1.2rem; 
}

.newPostButton:hover, .addPostButton:hover{
    scale: 1.05;
}

.postTable{
    border: 3px solid var(--dark-1);
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.post{
    padding-inline: 40px;
    background-color: var(--dark-3);
    padding-bottom: 10px;
    transition: background-color 250ms ease;
}

.post:hover{
    background-color: var(--dark-5);
}

.post:hover .postTitle{
    border-color: var(--dark-3);
}

.postTop{
    display: flex;
    justify-content: space-between;
}

.postLeft, .postBottom{
    cursor: pointer;
}

.postTitle{
    margin: 0;
    padding-top: 10px;
    border-bottom: 3px solid var(--dark-5);
    width: fit-content;
    transition: border-color 250ms ease;
    padding-right: 10px;
    font-family: var(--title-font);
}

.post:not(:last-child){
    border-bottom: 3px solid var(--dark-1);
}

.gradeWrapper{
    display: flex;
    gap: 3px;
    align-items: center;
    font-family: var(--text-font);
}

.maxPointsText{
    margin: 0;
}

.gradeInput{
    height: 35px;
    border-radius: 8px;
    min-width: 100px;
    outline: none;
    box-sizing: border-box;
    color: white;
    background-color: var(--dark-1);
    border: 2px solid transparent;
    color-scheme: dark;
    transition: border-color 150ms ease;
}

.gradeInput:focus{
    border-color: var(--green-1);
}

.submitGradeButton{
    background-color: var(--green-1);
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: scale 150ms ease;
}

.submitGradeButton:hover{
    scale: 1.05;
}

.postBody{
    font-family: var(--text-font);
}

.postedDetailsText{
    filter: brightness(0.8);
    text-align: end;
    font-family: var(--text-font);
}

.inputTitle{
    margin: 0;
    font-family: var(--title-font);
    margin-top: 10px;
}

.input{
    width: 100%;
    background-color: var(--dark-1);
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 150ms ease;
    outline: none;
    height: 40px;
    margin-top: 3px;
}

.input:focus{
    border-color: var(--green-1);
}

.addPostSection{
    margin-top: 10px;
    display: flex;
    border-top: 5px solid var(--dark-5);
    flex-direction: column;
    gap: 10px;
}

.errorText{
    color: red;
    font-family: var(--text-font);
}