.pageContent{
    position: relative;
    width: 80%;
    left: 10%;
    color: white;
    padding-bottom: 50px;
}

.pageTitle{
    font-family: var(--title-font);
}

.table{
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 20px;
}

.tableHead{
    background-color: var(--dark-1);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.tableHeadTitle:first-child, .tableData:first-child{
    flex-grow: 1;
    padding-left: 20px;
}

.tableHeadTitle:not(:first-child), .tableData:not(:first-child){
    min-width: 100px;
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableHeadTitle{
    font-size: 1.2rem;
    font-family: var(--title-font);
}

.tableBody{
    background-color: var(--dark-3);
    font-family: var(--text-font);
}

.tableRow{
    display: flex;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.tableRow:hover{
    background-color: var(--dark-5);
}

.tableRow:not(:last-child){
    margin-bottom: 5px;
}

.dicussionDescription{
    box-sizing: border-box;
    border-left: 5px solid var(--green-1);
}

.discussionTitle{
    font-family: var(--title-font);
    color: var(--green-1);
}

.evenRow{
    --color: hsl(from var(--green-1) h s calc(l - 10));
    border-color: var(--color) !important;
}

.evenRow > .discussionTitle{
    color: var(--color);
}

.addDiscussionButton{
    color: white;
    background-color: var(--green-1);
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    padding-inline: 10px;
    height: 40px;
    cursor: pointer;
    transition: scale 150ms ease-out;
}

.addDiscussionButton:hover{
    scale: 1.05;
}

.noDiscussionsText{
    font-family: var(--text-font);
}