.page{
    display: flex;
    min-height: 100vh;
}

.pageContent{
    margin-left: 100px;
    width: calc(100% - 100px);
    height: 100%;
}

.pageTitle{
    color: white;
    font-family: var(--title-font);
    background-image: linear-gradient(45deg, var(--green-1), var(--light-green-1));
    background-repeat: no-repeat;
    background-size: 100% 5px;
    width: fit-content;
    padding-bottom: 5px;
    background-position-y: 100%;
}

.sectionTitle, .questionTitle{
    color: white;
    font-family: var(--title-font);
}

.questionTitle{
    margin: 0;
}

.questionTop{
    border-bottom: 3px solid var(--dark-2);
    width: calc(100% - 20px);
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.answered{
    border: 2px solid var(--green-1);
    padding-inline: 10px;
    border-radius: 5px;
}

.numAnswersText{
    color: white;
    margin: 0;
    font-family: var(--text-font);
}

.question{
    background-color: var(--dark-1);
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    cursor: pointer;
}

.userAsking{
    color: white;
    font-family: var(--text-font);
    text-align: end;
    filter: brightness(0.8);
    margin-right: 20px;
}