.wrapper{
    display: flex;
    height: 100%;
    padding-bottom: 30px;
}

.pageContent{
    width: 100%;
    height: 100%;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answersWrapper{
    width: 80%;
}

.questionWrapper{
    display: flex;
    justify-content: center;
}

.answersList{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.answersHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--dark-5);
}

.answersTitle{
    color: white;
    margin: 0;
    font-family: var(--title-font);
}

.currentOption{
    display: flex;
    background-color: var(--dark-1);
    color: white;
    gap: 10px;
    border-radius: 5px;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
    font-family: var(--text-font);
    cursor: pointer;
    margin-bottom: 2px;
}

.dropDownContainer{
    position: relative;
}

.selectionArrow{
    height: 30px;
    width: 30px;
}

.currentOption:hover ~ .options, .options:hover{
    height: auto;
}

.options{
    color: white;
    background-color: var(--dark-1);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    left: 0;
    height: 0px;
    transition: height 400ms ease-out;
}

.option{
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: var(--text-font);
    display: flex;
    gap: 5px;
    align-items: center;
    transition: filter 150ms ease-out;
    cursor: pointer;
    padding-inline: 10px;
    background-color: var(--dark-1);
}

.option:hover{
    filter: brightness(1.3)
}

.colorBox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.addAnswerButton{
    color: white;
    font-family: var(--text-font);
    background-color: var(--green-2);
    min-width: 170px;
    height: 35px;
    transition: all 150ms ease-out;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}

.createAnswerTitle{
    color: white;
    font-family: var(--title-font);
}

.addAnswerButton:hover{
    scale: 1.1;
    filter: brightness(120%);
}