.page{
    display: flex;
}

.pageContent{
    margin-left: 70px;
    width: 80%;
    position: relative;
    left: calc(10% - 35px);
}

.pageTitle{
    color: white;
    font-family: var(--title-font);
}

.topContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.addFlashCardWrapper{
    display: flex;
    gap: 15px;
}

.searchWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    background-color: var(--dark-1);
    gap: 10px;
}

.goButton{
    background-color: var(--green-1);
    color: white;
    border-radius: 5px;
    border: none;
    min-width: 120px;
    font-size: 1.3rem;
    height: 43.2px;
    cursor: pointer;
}

.favoritesTitle, .yourCardsTitle{
    margin: 0;
    margin-top: 10px;
    color: white;
    font-family: var(--title-font);
}

.favoriteFlashCards, .yourFlashCards{
    width: fit-content;
    border-top: 3px solid var(--dark-1);
    padding-top: 35px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: var(--title-font);
}

.favoriteFlashCards:has( > .noCards){
    padding-top: 0px;
}
.tagsInput{
    height: 35px;
    background-color: var(--dark-3);
    color: white;
    outline: none;
    border: 2px solid transparent;
    transition: all 250ms ease;
    border-radius: 5px;
}

.tagsInput:focus, .tagsInput:hover{
    border-color: var(--green-1);
}