.wrapper{
    display: flex;
    height: 100%;
}

.pageContent{
    margin-left: 75px;
    flex-grow: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
    color: white;
    align-items: center;

}

