.commentWrapper{
    border-bottom: 2px solid var(--dark-5);
}

.commentBody{
    font-family: var(--text-font);
    gap: 10px;
    display: flex;
    align-items: center;
}

.textWrapper{
    display: flex;
    gap: 10px;
}

.buttonsWrapper{
    background-color: red;
}

.upvotesText{
    color: var(--green-2);
}

.date{
    margin-left: 5px;
    font-weight: normal;
}

.user{
    color: var(--green-2);
    text-decoration: none;
    transition: color 150ms linear, filter 150ms linear;

}

.user:hover{
    color: var(--light-green-1);
    filter: brightness(1.1);
}

.voteSection{
    background-color: var(--dark-1);
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
    float: right;

    min-width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.triangleIcon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.triangleIcon:last-child{
    transform: rotateX(180deg);
}