
.topSection {
  padding-inline: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  color: white;
  background-color: var(--dark-2);
  margin-top: 40px;
}

.notificationsWrapper{
    display: flex;
    justify-content: center;
}

.assignmentsContainer {
  display: flex;
  justify-content: center;
}

.userTitle {
  /* font-family: "Playwrite AU VIC", cursive; */
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin: 0;
  font-style: italic;
}

.usernameTitle {
  margin: 0;
  position: relative;
  font-size: 2rem;
  margin-left: 10px;
  font-family: "Playwrite AU VIC", cursive;
  font-family: var(--title-font);
}

/* Math person of the week section */
.mathImage{
    margin: 10px;
    float: left;
    border-radius: 15px;
    max-height: 200px;
    max-width: 200px;
}

.mathematicianBackground{
    width: 40%;
    background-color: var(--dark-4);
    padding: 20px;
    border-radius: 20px;
}

.mathematicianQuotes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mathematicianWrapper{
    border: 4px solid var(--dark-2);
    border-radius: 10px;
    padding-inline: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mathematicianTitle{
    font-family: var(--title-font);
    background-color: var(--dark-3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.bottomSection{
    position: relative;
    top: -5px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    background-color: var(--dark-1);
    justify-content: space-around;
    transform: translateY(-5px);
}


.waves{
    background-color: var(--dark-2);
}

.bottomSection, .waves{
    position: relative;
}


.waveTransition{
    position: relative;
    background-color: var(--dark-1);
    z-index: 1;
}

@media (max-width: 1088px) {
    .bottomSection{
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }
    .mathematicianBackground{
        width: 60%;
    }
}

